pytest==7.4.3
black==23.11.0
flake8==6.1.0
python-dotenv==1.0.0
pytesseract==0.3.10
Pillow==10.2.0
genanki==0.13.1
pythainlp==4.0.2
gTTS==2.5.1
requests==2.31.0
tltk==1.0.0
googletrans==4.0.0-rc1
eng_to_ipa==0.4.2 